@font-face {
  font-family: 'Linda-Hill';
  src: url('../assets/fonts/Linden_Hill/LindenHill-Regular.ttf') format('ttf'),
  url('../assets/fonts/Linden_Hill/LindenHill-Italic.ttf') format('ttf'),
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
    url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('ttf'),
}

.grid-gallery {
  grid-template-columns: repeat(auto-fill, 12%);
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

/* Define a custom breakpoint for small screens */
@media screen and (max-width: 640px) {
  .react-calendar__tile.react-calendar__month-view__days__day{
    height: 5rem !important;
  }
  .grid-gallery {
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 6px;
  }
}

/* Define a custom breakpoint for medium screens */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* CSS styles for medium screens */
}

/* Define a custom breakpoint for large screens */
@media screen and (min-width: 1025px) {
  /* CSS styles for large screens */
}


.react-calendar__navigation__label {
  margin: 1rem !important;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-size: 1rem;
  /* color: white; */
  @apply text-white;
  /* font-family: 'Poppins-Regular'; */
}

.owl-item {
  /* display: flex;
  justify-items: center;
  align-items: center; */
}
.owl-dots {
  display: none;
}

.bg-cement-pattren {
  background: url('../assets/images/bg_pattern.png') lightgray 50% / cover no-repeat;
  /* mix-blend-mode: multiply; */
  /* transform: rotate(-90deg); */
  scale: 1.1;
  flex-shrink: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.react-calendar__navigation {
  justify-content: center;
  align-items: center;
  display: flex;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  /* font-family: 'Poppins-Regular'; */
  color: #FFF;
  margin : 2rem;
}
.react-calendar__month-view__weekdays__weekday{
  height: 40px;
  width: 134px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #B6B6B6;
  border: none;
}

.react-calendar__month-view__days__day abbr {
  display: none;
}
.react-calendar__year-view__months__month div {
  display: none;
}
.react-calendar__decade-view__years__year div {
  display: none;
}
abbr:where([title]){
  text-decoration: none !important;
  color: #B6B6B6;
  font-family: __Poppins_d60787;
}
.react-calendar__tile abbr{
  color: #FFF;
}
.react-calendar__month-view__days {
  /* border: 1px solid #AB8D60; */
  padding: 2px;
  background-color: #AB8D60;
  border-radius: 5px;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
  border-left: 1px dashed #AB8D60;
  border-bottom: 1px dashed #AB8D60;
}

/* selector child grid calendar */

.react-calendar__month-view__days > :nth-child(1) {
  border-left: none !important;
}
.react-calendar__month-view__days> :nth-child(8) {
  border-left: none !important;
}
.react-calendar__month-view__days> :nth-child(15) {
  border-left: none !important;
}
.react-calendar__month-view__days> :nth-child(22) {
  border-left: none !important;
}
.react-calendar__month-view__days> :nth-child(29) {
  border-left: none !important;
}
.react-calendar__month-view__days> :nth-child(36) {
  border-left: none !important;
}

.react-calendar__month-view__days :nth-last-child(-n+7) {
  border-bottom: none !important;
}

/* end selector grid  */
.react-calendar__tile.react-calendar__month-view__days__day {
  height: 7.5rem;
  border-left: 1px dashed #AB8D60;
  border-bottom: 1px dashed #AB8D60;
  display: flex;
  /* font-family: 'Poppins'; */
  position: relative;
  background-color: #0B1D38;
}
.react-calendar__tile.react-calendar__month-view__days__day abbr {
  /* margin: 16px; */
  padding-left: 16px;
}



/* slider */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40% !important;
}

/* .nav-owl-class {
  position: absolute;
  height: 100%;
  background-color: red;
  top: 0;
} */
@font-face {
  font-family: Kapakana;
  src: url('../../public/kapakana-regular.ttf');
}

.font-kapakana {
  font-family: Kapakana;
}

.owl-prev {
  left: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 0px 8px;
}

.owl-next {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 0px 8px;
}