@font-face {
  font-family: 'Linda-Hill';
  src: url('../assets/fonts/Linden_Hill/LindenHill-Regular.ttf') format('ttf'),
  url('../assets/fonts/Linden_Hill/LindenHill-Italic.ttf') format('ttf'),
}


.owl-item {
  /* display: flex;
  justify-items: center;
  align-items: center; */
}
.owl-dots {
  display: none;
}

.bg-cement-pattren {
  background: url('../assets/images/bg_pattern.png') lightgray 50% / cover no-repeat;
  /* mix-blend-mode: multiply; */
  /* transform: rotate(-90deg); */
  scale: 1.1;
  flex-shrink: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.react-calendar__navigation {
  justify-content: center;
  align-items: center;
  display: flex;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  font-family: 'Poppins';
  color: #FFF;
  margin : 2rem;
}
.react-calendar__month-view__weekdays__weekday{
  height: 40px;
  width: 134px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #B6B6B6;
  border: none;
}

abbr:where([title]){
  text-decoration: none !important;
  color: #B6B6B6;
  font-family: __Poppins_d60787;
}
.react-calendar__tile abbr{
  color: #FFF;
}
.react-calendar__month-view__days {
  border: 2px solid #AB8D60;
  border-radius: 5px;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
  border: 1px dashed #AB8D60;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  height: 7.5rem;
  border: 1px dashed #AB8D60;
  display: flex;
  font-family: 'Poppins';
  position: relative;
}
.react-calendar__tile.react-calendar__month-view__days__day abbr {
  /* margin: 16px; */
  padding-left: 16px;
}



/* slider */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40% !important;
}

/* .nav-owl-class {
  position: absolute;
  height: 100%;
  background-color: red;
  top: 0;
} */
@font-face {
  font-family: Kapakana;
  src: url('../../public/kapakana-regular.ttf');
}

.font-kapakana {
  font-family: Kapakana;
}

.owl-prev {
  left: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 0px 8px;
}

.owl-next {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 0px 8px;
}